<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p %c %x - %m%n"/>
		</layout>
	</appender>

	<appender name="INNORULES" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxBackupIndex" value="1"/>
		<param name="MaximumFileSize" value="10M"/>
		<param name="File" value="${catalina.home}/logs/innorules/innorules.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p %c %x - %m%n"/>
		</layout>
	</appender>

	<logger name="com" additivity="false">
		<level value="debug"/>
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="INNORULES"/>
	</logger>

</log4j:configuration>
